<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZiggiZag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D056C1C61DC3867D00296F05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D056C1DC1DC3867D00296F05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D056C1E71DC3867D00296F05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
